[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "third_party/joycon-robotics"]
	path = third_party/joycon-robotics
	url = https://github.com/box2ai-robotics/joycon-robotics.git
